{% extends "admin/change_form.html" %}

{% block field_sets %}
<h2>Telah dilakukan update, tekan ctrl+F5 jika fungsi pencarian bahan atau KK tidak berjalan.</h2>
{{block.super}}
{% endblock %}

{% block after_related_objects %}
<h2>Rangkuman Material</h2>
Berat Finished Goods: 
<input type="text" id="fg_weight" value="Finished Goods Weight" disabled="disabled">
<br>
Berat Raw Material: 
<input type="text" id="rm_weight" value="Raw Material Weight" disabled="disabled">
<br>
Selisih Material Dan Hasil Produksi: 
<input type="text" id="selisih" value="Output and Input Material Difference" disabled="disabled">
<br>
<h2>Rangkuman Jam Pengerjaan</h2>
Durasi Produksi Total: 
<input type="text" id="durasi" value="Total Production Duration" disabled="disabled">
<br>
Durasi Downtime: 
<input type="text" id="downtime" value="Total Downtime Duration" disabled="disabled">
<br>
Durasi Produksi Efektif: 
<input type="text" id="efektif" value="Total Effective Duration" disabled="disabled">
{% endblock %}

{% block footer %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.0/underscore-umd-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="{% static 'js/mass_diff.js' %}"></script>
{% endblock %}
